*.pyc
*.log
*.swp
*.pem
.idea
*.tgz
py3env/
__pycache__
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.tag*
node_modules
coverage
.DS_Store
.nyc_output
.env
.helmignore
.vscode
github_token
jsHelper.js
.dockerignore
.pytest_cache/*
/charts/vios-servicebroker2/charts/
